---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Arregla Mi Municipio | Red Ciudadana</title>

{% endblock %}

{% block content %}

<!-- Intro Banner
================================================== -->

<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay big-padding">
	
	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline-alt">
					<h3>¡Repara Mi Municipio - Tu poder para transformar!</h3>
					<span>Bienvenido a Repara Mi Municipio, la plataforma ciudadana que te permite ser parte activa del cambio en tu comunidad. ¡Juntos hacemos la diferencia!</span>
				</div>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">1,000 </strong>
						<span>Reportes en el Último Mes</span>
					</li>
					<li>
						<strong class="counter">5,000</strong>
						<span>Reportes Totales</span>
					</li>
					<li>
						<strong class="counter">10</strong>
						<span>Categorías</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
	
	<!-- Video Container -->
	<div class="video-container" data-background-image="images/home-video-background-poster.jpg">
		<video loop autoplay muted>
			<source src="images/home-video-background.mp4" type="video/mp4">
		</video>
	</div>

</div>


<!-- Content
================================================== -->

<!-- Icon Boxes -->
<div class="section padding-top-65 padding-bottom-65">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline centered margin-top-0 margin-bottom-5">
					<h3>¿Cómo funciona Repara Mi Municipio?</h3>
				</div>
			</div>
			
			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-line-awesome-lock"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Reporta</h3>
					<p>Identifica cualquier problema en tu municipio y repórtalo en segundos. Nuestra interfaz intuitiva te permite marcar la ubicación en el mapa y describir el inconveniente con facilidad.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box with-line">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class="icon-line-awesome-legal"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Visualiza</h3>
					<p>Accede a un mapa interactivo donde podrás ver todos los reportes de tu comunidad. Observa los problemas actuales y mantente informado sobre las soluciones en proceso.</p>
				</div>
			</div>

			<div class="col-xl-4 col-md-4">
				<!-- Icon Box -->
				<div class="icon-box">
					<!-- Icon -->
					<div class="icon-box-circle">
						<div class="icon-box-circle-inner">
							<i class=" icon-line-awesome-trophy"></i>
							<div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
						</div>
					</div>
					<h3>Impacta</h3>
					<p>Tu participación cuenta. Al unirnos como comunidad, logramos que las autoridades presten atención a los problemas reportados y trabajen para resolverlos. ¡Tu aporte marca la diferencia!</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Icon Boxes / End -->



<div class="section border-top padding-top-45 padding-bottom-45">
	<!-- Logo Carousel -->
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<!-- Carousel -->
				<div class="col-md-12">
					<div class="logo-carousel">
						
						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-01.png" alt=""></a>
						</div>
						
						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-02.png" alt=""></a>
						</div>
						
						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-03.png" alt=""></a>
						</div>
						
						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-04.png" alt=""></a>
						</div>
						
						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-05.png" alt=""></a>
						</div>

						<div class="carousel-item">
							<a href="http://acmelogos.com/" target="_blank" title="http://acmelogos.com/"><img src="images/logo-carousel-06.png" alt=""></a>
						</div>

					</div>
				</div>
				<!-- Carousel / End -->
			</div>
		</div>
	</div>
</div>



<!-- Photo Section -->
<div class="photo-section" data-background-image="images/section-background.jpg">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<h2>¿Qué es Repara Mi Municipio?</h2>
					<p>Repara Mi Municipio es una iniciativa impulsada por Red Ciudadana, una organización comprometida con el fortalecimiento de la gobernanza democrática y la participación ciudadana en Guatemala. Nuestra plataforma permite a los ciudadanos reportar y debatir problemas locales relacionados con calles, carreteras y medio ambiente.</p>
					<a href="/reporta/index.html" class="button button-sliding-icon ripple-effect big margin-top-20">Reporta <i class="icon-material-outline-arrow-right-alt"></i></a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Photo Section / End -->

<!-- Recent Blog Posts -->
<div class="section padding-top-65 padding-bottom-50">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-45">
					<h3>Informes Recientes</h3>
					<a href="pages-blog.html" class="headline-link">Ver todos los Informes</a>
				</div>

				<div class="row">
					<!-- Blog Post Item -->
					<div class="col-xl-4">
						<a href="pages-blog-post.html" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="images/blog-01a.jpg" alt="">
								<span class="blog-item-tag">Tips</span>
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li>22 July 2019</li>
									</ul>
									<h3>16 Ridiculously Easy Ways to Find & Keep a Remote Job</h3>
									<p>Distinctively reengineer revolutionary meta-services and premium architectures intuitive opportunities.</p>
								</div>
							</div>
						</a>
					</div>
					<!-- Blog post Item / End -->

					<!-- Blog Post Item -->
					<div class="col-xl-4">
						<a href="pages-blog-post.html" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="images/blog-02a.jpg" alt="">
								<span class="blog-item-tag">Recruiting</span>
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li>29 June 2019</li>
									</ul>
									<h3>How to "Woo" a Recruiter and Land Your Dream Job</h3>
									<p>Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive.</p>
								</div>
							</div>
						</a>
					</div>
					<!-- Blog post Item / End -->

					<!-- Blog Post Item -->
					<div class="col-xl-4">
						<a href="pages-blog-post.html" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="images/blog-03a.jpg" alt="">
								<span class="blog-item-tag">Marketing</span>
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li>10 June 2019</li>
									</ul>
									<h3>11 Tips to Help You Get New Clients Through Cold Calling</h3>
									<p>Compellingly embrace empowered e-business after user friendly intellectual capital. Interactively front-end.</p>
								</div>
							</div>
						</a>
					</div>
					<!-- Blog post Item / End -->
				</div>


			</div>
		</div>
	</div>
</div>
<!-- Recent Blog Posts / End -->

<!-- Features Jobs -->
<div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-35">
					<h3>Reportes Recientes</h3>
					<a href="jobs-list-layout-full-page-map.html" class="headline-link">Ver Todos Los Reportes</a>
				</div>
				
				<!-- Jobs Container -->
				<div class="listings-container compact-list-layout margin-top-35">
					
					{% for reporte in collections.reportes%}
				<!-- Job Listing -->
				<a href="{{reporte.url}}" class="job-listing">

					<!-- Job Listing Details -->
					<div class="job-listing-details">

						<!-- Logo -->
						<div class="job-listing-company-logo">
							<img src="/images/company-logo-01.png" alt="">
						</div>

						<!-- Details -->
						<div class="job-listing-description">
							<h3 class="job-listing-title">{{reporte.data.reportes.titulo}}</h3>
							<p class="job-listing-title">{{reporte.data.reportes.descripcion}}</p>
							<!-- Job Listing Footer -->
							<div class="job-listing-footer">
								<ul>
									<li><i class="icon-feather-folder-minus"></i> {{reporte.data.reportes.categoria}}</li>
									<li><i class="icon-feather-file"></i> {{reporte.data.reportes.subcategoria}}</li>
								</ul>
							</div>
						</div>

						<!-- Bookmark -->
						<!--span class="bookmark-icon"></span-->

						<div class="latitud" style="display:none">{{reporte.data.reportes.latitud}}</div>
						<div class="longitud" style="display:none">{{reporte.data.reportes.longitud}}</div>
					</div>
				</a>	

				{% endfor %}

				</div>
				<!-- Jobs Container / End -->

			</div>
		</div>
	</div>
</div>
<!-- Featured Jobs / End -->

{% endblock %}