---
pagination:
  data: reportes
  size: 1
  alias: reportes
  addAllPagesToCollections: true
permalink: "reporte/{{reportes.categoria | slug}}/{{reportes.subcategoria | slug}}/{{reportes.titulo | slug}}/index.html"
tags:
  - reportes
---